#body_content {
    padding-top: 20px;
}

html {
    background-color:white;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

#app_header {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}


/*Artist Parents and Offspring style*/

#artist_search {
    padding: 5px 0px 5px 0px;
}

.selected_artist_action {
    padding-left: 1px;
    padding-right: 1px;
    float: left;
}

.selected_artist_influence {
    width: 70px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.selected_artist_influence .progress {
    margin-bottom: 0px;
}

.selected_artist {
    padding-left: 3px;
}

/*Artist Information Style*/

#artist_information {
    padding: 5px;
}

#artist_image {
    float: left;
    padding: 0px 10px 10px 0px;
}

#artist_blurb {
    display: inline;
}

/* Accordian Stuff */
.artist_player {
    float: left;
    padding: 7px;
}

.artist {
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}
