#body_content {
    padding-top: 20px;
}

html {
    background-color:white;
}

#app_header {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

#divider {
    display: inline-block;
    margin-left: 25px;
    border-color: white white white black;
    border-style: solid;
    border-width: 50px 20px 50px 20px;
    width: 0;
    height: 0;
}

#artist_search {
    padding: 5px 0px 5px 0px;
}

#artist_parents {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

#artist_offspring {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.table .artist {
    cursor: pointer;
}

.table .selected_artist_action {
    width: 3px;
    padding-left: 1px;
    padding-right: 1px;
}

.selected_artist_influence {
    width: 40px;
}

.artist {
    font-size: 16px;
}

#artist_image {
    float: left;
}

#artist_blurb {
    display: inline;
}

