<div id="app_header">Music, Baby.</div>
<div id="artist_search_bar">
    <div class="border left"></div>
    <div class="border right disabled_slide"></div>
    <div id="artist_search">
        <a id="max_parents_message" href="#" rel="tooltip">
            <input type="text" name="artist_search_box" id="add_artist_search" class="input-medium search-query" placeholder="Enter Artist Name"/>
        </a>
        <div class="btn" id="clear_artists_button">
            <i class="icon-ban-circle"></i>
            Clear Artists
        </div>
        <div class="btn" id="make_babies_button">
            <i class="icon-music"></i>
            Make Babies!
        </div>
    </div>
</div>
<div id="parents_offspring_accordion">
    <ol>
        <li>
            <h2><span>Parents</span></h2>
            <div id="parents">
                <div id="parents_players"></div>
            </div>
        </li>
        <li>
            <h2 id="offspring_slide_header" class="disabled_slide"><span>Children</span></h2>
            <div id="offspring_players"></div>
        </li>
    </ol>
</div>

<div id="artist_information">
<ul class="nav nav-tabs">
    <li class="active"><a href="#artist_bio" data-toggle="tab">Biography</a></li>
    <li><a href="#artist_reviews" data-toggle="tab">Reviews</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="artist_bio">
            <div id="artist_image"></div>
            <span id="artist_blurb"></span>
        </div>
        <div class="tab-pane" id="artist_reviews">
            <div id="artist_reviews_container"></div>
        </div>
    </div>
</div>
