<div id="app_header">Music, Baby.</div>

<div id="parents_and_offspring">
    <div id="artist_parents">
        <div class="title">Parents</div>
        <div id="artist_search">
            <input type="text" name="artist_search_box" id="add_artist_search" class="input-medium search-query" placeholder="Enter Artist Name"/>
            <div class="btn" id="add_artist_button">
                <i class="icon-plus"></i>
            </div>
        </div>
        <div id="selected_artists"></div>
    </div>
    <div id="artist_offspring">
        <div class="title">Offspring</div>
        <div class="btn" id="make_babies_button">
            <i class="icon-music"></i>
            Make Babies!
        </div>
        <div id="offspring_artists"></div>
    </div>
</div>

<div id="artist_information">
</div>
