<div class="selected_artist" influence="<%= defaultInfluence %>">
    <div class="selected_artist_action">
        <a href="#" class="decrease_artist_influence">
            <i class="icon-minus"></i>
        </a>
    </div>
    <div class="selected_artist_influence">
        <div class="progress">
            <div class="bar" style="width: 50%;"></div>
        </div>
    </div>
    <div class="selected_artist_action">
        <a href="#" class="increase_artist_influence">
            <i class="icon-plus"></i>
        </a>
    </div>
</div>