<tr class="selected_artist" influence="<%= defaultInfluence %>">
    <td class="selected_artist_action">
        <a href="#" class="decrease_artist_influence">
            <i class="icon-minus"></i>
        </a>
    </td>
    <td class="selected_artist_influence">
        <div class="progress">
            <div class="bar" style="width: 50%;"></div>
        </div>
    </td>
    <td class="selected_artist_action">
        <a href="#" class="increase_artist_influence">
            <i class="icon-plus"></i>
        </a>
    </td>
    <td class="artist"><%= artistName %></td>
    <td class="selected_artist_action">
        <a href="#" class="remove_selected_artist">
            <i class="icon-ban-circle"></i>
        </a>
    </td>
</tr>