<tr class="selected_artist level3">
    <td class="selected_artist_action">
        <a href="#" class="btn-mini increase_artist_influence">
            <i class="icon-zoom-in"></i>
        </a>
    </td>
    <td class="selected_artist_action">
        <a href="#" class="btn-mini decrease_artist_influence">
            <i class="icon-zoom-out"></i>
        </a>
    </td>
    <td class="selected_artist_action">
        <a href="#" class="btn-mini remove_selected_artist">
            <i class="icon-ban-circle"></i>
        </a>
    </td>
    <td class="artist"><%= artistName %></td>
</tr>