<div class="selected_artist level3">
    <a href="#" class="btn-mini increase_artist_influence">
        <i class="icon-zoom-in"></i>
    </a>
    <a href="#" class="btn-mini decrease_artist_influence">
        <i class="icon-zoom-out"></i>
    </a>
    <a href="#" class="btn-mini remove_selected_artist">
        <i class="icon-ban-circle"></i>
    </a>
    <span class="artist"><%= artistName %></span>
</div>